@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
.banner::after {
    content: "";
    position: absolute;
    bottom: -15%; 
    left: 0;
    width: 100%;
    height: 20%;
    background-color: #f3d1d9 ; 
    transform: skewY(-5deg);
    transform-origin: top left;
    z-index: -1;
}
.banner::before {
    content: "";
    position: absolute;
    bottom: 10%; 
    right: 0;
    width: 100%;
    height: 20%;
    background-color: #f3d1d9 ; 
    transform: skewY(4deg);
    transform-origin: top left;
    z-index: -1;
}

.banner-img {
    width: 100%;
    margin: 0;
    padding: 0;;
}
.card-sticker {
    background-color: rgb(248, 208, 184);
    padding: 1% 3.5% 1% 4%;
    margin-top: 3%;
    left: -2.5%;
    max-width: 270px;
    border-radius: 40px;
    transform: rotate(-5deg);
    border: none;
    font-family: "Oswald", sans-serif;
}

.card-bar {
    background-color: #1a3553;
    max-width: 100px;
    height: 20px;
    margin-bottom: 10%;
    margin-top: 5%;
    transform: rotate(5deg);
}

.card-sticker p {
    color: #1a3553;
    font-weight: bold;
    font-size: 1.5em;
    transform: rotate(5deg);
}

/** OBJECTIFS **/
.objectifs-container {
    justify-self: center;
    width: 85%;
    display: flex;
    justify-content: space-evenly;
}
.objectifs>h2 {
    margin-top: -8%;
    margin-bottom: 5%;
}
.card-objectif {
    background-color: #f7c6a8;
    padding: 2%;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: "Oswald", sans-serif;
    max-width: 350px;
    margin-bottom: 2%;
}

.card-header {
    display: flex;
    font-size: 2em;
    padding: 0;
    margin-bottom: 10%;
}

.card-number {
    font-size: 32px;
    font-weight: bold;
}

.card-content {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-content li {
    padding: 0 10%;
    margin-bottom: 5%;
    list-style-type: none;
}

.card-content li::before {
    content: "";
    background-image: url("../images/list-style-objectif.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px 10px -5px -35px;
}

/** INFO SECTION **/
.info-section {
    margin-top: -10%;
    padding-top: 5%;
}

.infos {
    width: 80%;
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
}
.info-section .container {
    max-width: 40%;
    min-width: 300px;
}
.info-section img {
    max-width:15%;
    max-height: 400px;
    margin-top: 15%;
}
.container ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container li {
    list-style-type: none;
    margin: 10% 0;
    margin-left: -20%;
}

.container li::before {
    content: "";
    background-image: url("../images/arrow.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px 10px -5px -35px;
}

/** CONSEIL ADMIN **/
.conseil {
    text-align: center;
}
.conseil>h2 {
    font-weight: bold;
    margin: 2% 0;
}

.carousel-container {
    justify-self: center;
    width: 90%;
    overflow: hidden;
}

.conseil-carousel {
    display: flex;
    transition: transform 0.5s ease;
    padding-bottom: 2%;
}

.slide {
    min-width: 21%;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 2%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-placeholder {
    width: 100%;
    height: 200px;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #888;
}

.card-info {
    padding: 10px;
    border-top: 4px solid #002f3c;
}

.prev-btn, .next-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    border-radius: 5px;
    margin: 0 10%;
}

@media (max-width:992px) {
    .banner::after {
        bottom: -40%;
        height: 30%;
    }
    .card-sticker {
        margin-top: -3%;
    }
    .info-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .info-section img {
        max-width: 25%;
        max-height: 300px;
        margin-top: 5%;
    }
    .infos {
        flex-direction: column;
    }
    .objectifs-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:768px) {
    .slide {
        min-width: 100%;
        margin: 0;
    }
}